:root {
  font-size: 1rem;
}

* {
  margin: 0 auto;
}

body {
  background-color: #00243D;
  max-height: 50vh;
  font-family: 'Exo 2', sans-serif;
}

header {
  background-color: black;
  height: 20%;
  width: 100%;
}

h1 {
  color: #00A938;
  font-family: 'Audiowide', cursive;
}

header p {
  color: #717171;
}

#header-style {
  color: white;
}

h1, p {
  margin: auto;
  padding-top: .3rem;
  text-align: center;
}

/*nav {
  background-color: gray;
  display: flex;
  height: auto;
  justify-content: space-around;
  line-height: 0;
}*/

ul h3 {
  font-size: 1.6rem;
}

ul.dropdown-content {
  /*background-color: #2A2A2A;*/
  /*background-color: white;*/
  background-color: gray;
}

li {
  padding: .1rem !important;
}

.weather {
  height: 25vh;
}

.weather h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

/*MATERIALIZE OVERRIDES HERE*/

ul.dropdown-content.select-dropdown li span {
  /*background-color: #00A938;*/
  background-color: gray;
  color: #2A2A2A;
}

.weather-flex {
  color: #717171;
  display: flex;
  text-align: center;
  width: 50%;
}

.carousel {
  height: 400px !important;
  perspective: 800px !important;
}

/*.carousel-slider {
  width: 100% !important;
  max-height: 60vh !important;
}*/

.carousel .carousel-item {
  max-height: 60vh !important;
  width: 33.3333% !important;
}

.input-field {
  /*background-color: #00A938;*/
  background-color: gray;
  margin: auto;
  margin-top: 2rem;
  padding: 0 1rem;
  width: 40vh;
}

.select-wrapper input.select-dropdown {
  border-bottom: none !important;
}


/*@media only screen and (max-width: 965px) {
  :root {
    font-size: 1.2rem;
  }
}*/

/*@media only screen and (max-width: 560px) {

 :root {
    font-size: 1rem;
  }

  body {
    height: 100vh;
    width: 100vw;
  }

  header {
    height: 25%;
  }

  h2 {
    font-size: 2.0rem;
  }

  .dropdown-content li>a,
  .dropdown-content li>span {
    font-size: 24px !important;
    line-height: 1.5rem !important;
  }

  .input-field select option {
    font-size: 22px;
  }

  .weather {
    height: 30%;
  }

  .weather-flex {
    width: 80%;
  }
}*/


    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      :root {
        font-size: 1.4rem;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      :root {
        font-size: 1.2rem;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

      :root {
         font-size: 1rem;
       }

       body {
         height: 100vh;
         width: 100vw;
       }

       header {
         height: 25%;
       }

       /*header p {
         font-size: 2rem;
       }*/

       h2 {
         font-size: 2.0rem;
       }

       .dropdown-content li>a,
       .dropdown-content li>span {
         /*height: 2rem;*/
         font-size: 24px !important;
         line-height: 1.5rem !important;
       }

       .input-field select option {
         font-size: 22px;
       }

       .weather {
         height: 30%;
       }

       .weather-flex {
         width: 80%;
       }
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
