:root {
  font-size: 1rem;
}

* {
  margin: 0 auto;
}

body {
  background-color: darkgray;
  height: 50vh;
}

header {
  background-color: black;
  height: 8rem;
  width: 100%;
}

h1 {
  color: darkcyan;
}

p {
  color: gray;
}

h1, p {
  margin: auto;
  padding-top: .3rem;
  text-align: center;
  /*max-width: 50vw;*/
}

img {
  /*max-height: 400px;*/
  /*max-width:*/
}

nav {
  background-color: gray;
  display: flex;
  height: auto;
  justify-content: center;
  line-height: 0;
}

li {
  padding: .1rem !important;
}

/*MATERIALIZE OVERRIDES HERE*/

.chip {
  background-color: darkcyan;
  color: white;
  text-align: center;
  width: 200px;
}

.weather {
  text-align: center;
}

.carousel {
  margin-top: 2rem !important;
  max-height: 70vh !important;
  max-width: 80%;
}

.carousel .carousel-item {
  height: 60vh !important;
  width: 40vw !important;
}

.input-field {
  background-color: darkcyan;
  margin: auto;
  margin-top: 2rem;
  padding: 0 1rem;
  width: 40vh;
}

.select-wrapper input.select-dropdown {
  border-bottom: none !important;
}
